main{
  padding: 0;
  margin: 0;
}
body{
    background-color: #FDE992;
    margin: 0;
    padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d87cc6;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #bf5392;
}
.navv{
    position: sticky;
}
header{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: xx-large;
}


img{
  margin: auto;
  justify-self: center;
  align-self: center;
}


.page-card{
  height:400px;
  width: 300px;
  display: inline-block;
  border-radius: 30px;
  margin: 20px;
  background-color: #d87c96;
  justify-items: center;
  border: #d8817c;
}
.page-description{
  width: fit-content;
}
.page-title{
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(45deg, #ca427d 15%, rgb(208, 96, 71) 55%, rgb(224, 190, 126) 90%);
  width: auto;
  height: auto;
  margin:20px;
}





