
body{
    background-color: #FDE992;
    margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d87cc6;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #bf5392;
}
.navv{
    position: sticky;
}
header{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: xx-large;
}
.page-card{
  height:300px;
  width: 300px;
  display: inline-block;
  border-radius: 30px;
  margin: 20px;
}
.page-description{
  width: fir fit-content;
}
.page-title{
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(45deg, rgb(224, 124, 141) 30%,  rgb(191, 130, 162) 20%, rgb(189, 74, 137) 25%);
  width: auto;
  height: auto;
  margin:20px;
}