h1{
    text-align: center;
}


fieldset{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 1.5rem;
}
form{
    justify-self: center;
}
select{
    font-size: 1.2rem;
}
input{
    font-size: 1.2rem;
}
#gradeinput{
    display: flex;

}
#submitbtn{
    height: 50px;
    width: 150px;
    background-color: rgb(135, 183, 222);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d87cc6;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #bf5392;
}
.navv{
    position: sticky;
}