h1{
    text-align: center;
}


fieldset{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 1.5rem;
}
form{
    justify-self: center;
}
select{
    font-size: 1.2rem;
}
input{
    font-size: 1.2rem;
}
#gradeinput{
    display: flex;

}
#submitbtn{
    height: 50px;
    width: 150px;
    background-color: rgb(135, 183, 222);
}