.shape {
    height: 5px;
    width: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid salmon;
    animation: crocodilo infinite 10s ease-in-out;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes crocodilo{
    0%{
   border-right: 100px solid transparent;
   border-bottom: 180px solid salmon;
   border-radius: 0%;\width: 0px;
   height: 0px;
   border-top:0px solid transparent;
   border-left: 100px solid transparent;
   }
   33%{
   border-left: 100px solid salmon;
   border-top:100px solid salmon;
   border-right: 100px solid salmon;
   border-radius: 0%;
   border-bottom: 100px solid salmon;
   }
   66%{
   border-top:100px solid salmon;
   border-right: 100px solid salmon;
   border-bottom: 100px solid salmon;
   border-radius: 100%;
   border-left: 100px solid salmon;
   }
   100%{
   width: 0px;
   height: 0px;
   border-bottom: 180px solid salmon;
   border-radius: 0%;
    border-top:0px solid transparent;
   border-left: 100px solid transparent;
   border-right: 100px solid transparent;
   }

}