<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="rf.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <title>Document</title>
</head>
<body>
     <nav class="navv">
        <ul>
            <li>
                <a href="./pokemon/pkmn.html" class="pokeme">My pokemon project!</a>
            </li>
                 <li><a href="./reqform/request.html">Request Form</a></li>
                 <li><a href="./Gallery/gallery.html">Gallery</a></li>
                 <li><a href="./Bootstrap Test/bs.html">Bootstrap</a></li>
                 <li>
                    <a href="./projects/projects.html">Projects</a>
                 </li>
                 <li>
                <a href="./Home/index.html">Home</a>
            </li>
        </ul>
    </nav>
    <script src="navbar.js"></script>
</body>
</html>