:root{
    background-color: blue;
}
@media(prefers-color-scheme: dark){
    body{
        background-color: rgb(58, 165, 42);
    }

}
.pk-card{
    background-image: repeating-linear-gradient(rgb(209, 153, 209), rgb(164, 164, 230), rgb(186, 220, 186));
    height: fit-content;
    padding: 1rem;
    padding: 2em;
    width: 20em;
    border-radius: 1em; border: 2px, solid, pink;
    box-shadow: (20px, 20px, red);

}
h4{
    height: 3rem;
    width: auto;
    background-color: red;
}
#pic{
    width: auto;
    align-content: center;
    margin: auto;
    justify-content: center;
    display: flex;
    height: 11em;
    border-radius: 5px;
    border-bottom: 5px solid red;
    border-top: 5px solid green;
    border-left: 5px solid yellow;
    border-right: 5px solid blue;
}
#pk-title{
    height: 3rem;
    width: auto;
    background-color: red;
    align-content: end;
    padding-bottom: 2em;
    padding-left: 2em;

    
}

#moves_grid{
    height: 10em;
    width: auto;
    border: 10px solid transparent;
    border-image: url(l.png) 30 round;
    display: grid;
    grid-template-rows: 2;
    grid-auto-columns: min-content;
    row-gap: 20px;
    padding: 2em;
}
#move{
    height: 5em;
    width: 5em;
    background-color: blueviolet;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d87cc6;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #bf5392;
}
.navv{
    position: sticky;
}